<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="nav-link active" aria-current="page" href="{% url 'catalog:index' %}">Главная страница</a>
        <a class="nav-link active" aria-current="page" href="{% url 'catalog:contacts' %}">Контакты</a>
        <a class="nav-link active" aria-current="page" href="{% url 'catalog:catalog' %}">Каталог</a>
        <a class="nav-link active" aria-current="page" href="{% url 'catalog:product_details' %}">конкр продукт</a>

        <a class="navbar-brand">Панель навигации</a>


        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>
</nav>