{% extends 'catalog/base_test.html' %}
{% load static %}
{% load my_filters %}
{% load my_tags %}


{% block content %}

{% for object in object_list %}
<div class="col-4">
    <div class="card" style="width: 25rem, height: 25rem;">
        {% if object.images%}
        <img src="{{ object.images|mymedia }}" class="card-img-top" alt="..." width="200" height="300">
        {% else %}
        <img src="{% static 'images/pepe.jpg' %}" alt="..." width="200" height="200">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{object}}</h5>
            <p class="card-text">{{ object.description|trim_to }}</p>
            <div class="d-grid gap-2">
                <a href="{% url 'catalog:product_details' object.pk %}" class="btn btn-info btn-lg">К товару</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
